/*option {
	font-size: 16px;
}*/
.selectpicker {
	border-radius: 0px;
	font-size: 16px;
}
.btn {
	/*background-color: ;*/
	font-size: 16px;
	/*margin-left: 5px;*/
}
.btn option{
	/*background-color: ;*/
	font-size: 16px;
}
.form-control {
	border-radius: 0px;
	font-size: 16px; 
	height: 40px;
}
.btn {
	border-radius: 0px;
}