div.col2 div.contSub .contMenu ul li {
    margin: 0 0 0.9em 0;
}
div.innerTxtArea10 {
    margin-right: 20px;
    margin-left: 20px;
    text-align: left;
}

div.border-notop {
    border: 1px solid #666;
    border-top: none;
}

div.normal-border {
    border: 1px solid #666;
}

table.normal td.border {
    border: 1px solid rgb(102, 102, 102) !important;
}

table.normal {
    border-collapse: 0;
}

/* User info bar */
.user-info-bar {
    background: #f2f2f2;
    margin: 5px 0 5px 0;
    border: none;
}

.user-info-bar input {
    margin-top: 3px;
    float: left;
}

.user-info-bar table {
    float: left;
    margin: 0px;
    border: 1px solid #000;
    border-collapse: collapse;
    border-spacing: 1px;
}

.user-info-bar td,.user-info-bar th {
    vertical-align: middle;
    border: 0px solid #000;
    border-width: 0px 1px 1px 0px;
    padding: 3px;
    font-weight: normal;
    color: #000000;
    background-color: #fff;
}

.user-info-bar .fist-col {
    background-color: #c5d9f1;
    text-align: right;
}

/* Style for tutorial bar */
.tutorial-bar {
    float: left;
    margin-bottom: 20px;
}

#tutorial ul,#tutorial li {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

div.contMain form table.styled-table3 tr.tHead td {
    vertical-align: middle;
}

#tutorial li {
    float: left;
    line-height: 2.3em;
}

#tutorial li {
    background: #bbe0e3 url(../images/tutorial/arrow.gif) no-repeat right
        center;
    display: block;
    padding: 0 20px 0 10px;
}

#tutorial .first {
    background: transparent url(../images/tutorial/arrow_first.gif)
        no-repeat right center;
    padding: 0 0 0 10px;
}

#tutorial .first-focus {
    background: transparent url(../images/tutorial/arrow_first_focus.gif)
        no-repeat right center;
    padding: 0 0 0 10px;
}

#tutorial .pre-odd {
    background: #bbe0e3 url(../images/tutorial/arrow_pre_focus.gif)
        no-repeat right center;
}

#tutorial .odd {
    background: #00b0f0 url(../images/tutorial/arrow_focus.gif) no-repeat
        right center;
}

#tutorial .odd-last {
    background: #00b0f0 url(../images/tutorial/arrow_odd_last.gif) no-repeat
        right center;
}

#tutorial .last {
    background: #bbe0e3 url(../images/tutorial/arrow_last.gif) no-repeat
        right center;
}

#tutorial li a:link,#tutorial li a:visited {
    color: #000;
    text-decoration: none;
}

#tutorial li a:hover,#tutorial li a:focus {
    color: #dd2c0d;
}
/*margin-left*/
.ml60 {
    margin-left: 60px !important;
}

.ml85 {
    margin-left: 85px !important;
}

.ml100 {
    margin-left: 100px !important;
}

.custom-button {
	/* Start step 2.6 #2069 */
    height: 30px; 
    line-height : 30px;
    /* End step 2.6 #2069 */
}

.fileinput-button {
    position: relative;
    overflow: hidden;
}

.fileUpload {
	font-size: 20px !important;
	width: 120px !important;
	/* Start step 2.6 #2069 */
    height: 30px !important;
    /* End step 2.6 #2069 */
    position: absolute;
    top: 0;
    right: 0;
    margin: 0;
    opacity: 0 !important;
    filter: alpha(opacity = 0) !important;
    /* Start 1.x #760 */
    transform: translate(0px, 0) scale(4);
	/* End 1.x #760 */
    color: transparent !important;
}

/* hover pointer pointer */
div.icWrapper a:hover,
div.icWrapper input[type="radio"],
div.icWrapper label,
div.icWrapper input[type="checkbox"],
div.icWrapper table.hoverable-row tr:hover,
div.icWrapper tr.hover_tr {
    cursor: pointer;
}
div.icWrapper div.contMain form .hoverable-row tbody tr:hover,
div.icWrapper div.contMain form .hoverable-row tbody tr.even-row:hover,
div.icWrapper div.contMain form .hoverable-row tbody tr:hover td,
div.icWrapper div.contMain form .hoverable-row tbody tr.even-row:hover td {
    color: #fdd000 !important;
    background: #094b7c !important;
}
div.icWrapper div.contMain form .hoverable-row tbody tr:hover a,
div.icWrapper div.contMain form .hoverable-row tbody tr.even-row:hover a,
div.icWrapper div.contMain form .hoverable-row tbody tr:hover td a,
div.icWrapper div.contMain form .hoverable-row tbody tr.even-row:hover td a {
    color: #fff !important;
}

div.contMain form table.hoverable-row,
div.contMain form table.hoverable-row tr,
div.contMain form table.hoverable-row tr td {
    border-left: 0;
}

/* Start step 2.0 VPN-05 */
/* Set position for bottom horizontal scroll float on screen */
.floatScroll{
        /*Start IMP-step2.5-04 */
        position: relative;
        /*End IMP-step2.5-04 */
/*         top: 480px; */
    }
/* End step 2.0 VPN-05 */
/* Step2.8 START #2200 */
select[disabled="disabled"] {
    background: #D4D0C8;
}
select option[disabled="disabled"] {
	background: #D4D0C8;
}

/* Step3.0 START #ADD-02 */
/* CSS use only for 2 tables left-right in G1601 screen */
.table-left {
	float: left;
	position: absolute;
}

.table-right {
	float: right;
}

.table-right tr td:first-child,
.table-right tr,
.table-right {
	border-left: 0px solid !important; 
}
.table-right tr {
	 border: none !important; 
}

.table-left tr,
.table-right tr {
	background-color: #f2f2f2;
	opacity: 1;
}

.table-left,
.table-right {
	border-collapse: separate;
}

.row-hover,
.row-hover td {
    color: #fdd000 !important;
    background-color: #094b7c !important;
    cursor: pointer;
}
.row-hover a {
    color: #fff !important;
}
/* Step3.0 END #ADD-02 */
/* Step2.8 END #2200 */
/*(C) NTT Communications  2015  All Rights Reserved*/