@charset "utf-8";

/*
========================================

    01-1    base settings
    01-2    blockLayout

========================================
*/

/*
=====

    color guide

        #094b7c;//        Dark Blue
        #407398;//        Mid Blue
        #779BB1://        Light Blue

        #4d4e4e;//        Dark Gray
        #e6e6e6;//        Mid Gray
        #f2f2f2;//        Light Gray

        #fdd000;//        NTT yellow
        #fff;//                White
        #0073a9;//        Bright Blue

        #222;//    text color

=====
*/

/* inIframe page base */
body {
    margin: 0 auto;
    overflow: hidden;
    overflow-y: auto;
    position:　relative;
    text-align: center;
    /*Start Step1.x #766*/
    width: 1130px;
    /*End Step1.x #766*/
    height: auto;
}
body,textarea,input,select { font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif; }

div.icWrapper {
    text-align: left;
}

div.icWrapper div.ui-widget-content {
    color: #222;
/*    background: #f00;*/
}

/* text link */
div.icWrapper a,
div.icWrapper a:link,
div.icWrapper a:visited {
    color: #0073a9;
    text-decoration: none;
}
div.icWrapper a:hover {
    text-decoration: underline;
}
div.icWrapper a:active {
    color: #779bb1;
    text-decoration: none;
}
div.icWrapper div.contSub .contMenu li.acMenu a,
div.icWrapper div.contSub .contMenu li a.acMenu {
    color: #779bb1;
}

/* hover pointer pointer */
div.icWrapper a:hover,
div.icWrapper input[type="radio"],
div.icWrapper label,
div.icWrapper input[type="checkbox"],
div.icWrapper table.clickable-rows tr:hover,
div.icWrapper tr.hover_tr {
    cursor: pointer;
}


/* 1column layout */
div.col1 .ui-widget div.contMain {
    background: #f2f2f2;
    /*Start Step1.x #766*/
    width: 1116px;
    /*End Step1.x #766*/
    /*Start IMP-step2.5-04 */
    height: auto;
    min-height: 494px;
    /*End IMP-step2.5-04 */
    overflow: hidden;
    position:　relative;
}
div.col1 .ui-widget div.contMain div.contMainInner {
    /*Start IMP-step2.5-04 */
    height: auto;
    min-height: 494px;
    /*End IMP-step2.5-04 */
    overflow-x: hidden;
    overflow-y: auto;
    position:　relative;
}

/* 2column widget layout */
div.col2 .ui-widget div.contMain {
/*    color: #4d4e4e;*/
    background: #f2f2f2;
    /*Start Step1.x #766*/
    width: 870px;
    /*End Step1.x #766*/
    /*Start IMP-step2.5-04 */
    height: auto;
    min-height: 494px;
    /*End IMP-step2.5-04 */
    float: right;
    display: inline;
    overflow: hidden;
    position:　relative;
}
div.col2 .ui-widget div.contSub {
/*    color: #4d4e4e;*/
    background: #f2f2f2;
    width: 244px;/*　1160-（6*2=12）-900　border 1 case → 245 */
    /*Start IMP-step2.5-04 */
    height: auto;
    min-height: 494px;
    /*End IMP-step2.5-04 */
    float: left;
    display: inline;
    overflow: hidden;
    position:　relative;
    border-right: 1px solid #666;
}
div.col2 .ui-widget div.contMain div.contMainInner,
div.col2 .ui-widget div.contSub div.contSubInner {
    /*Start IMP-step2.5-04 */
    height: auto;
    /* Step2.9 START ADD-2.9-1*/
    min-height: 550px;
    /* Step2.9 END ADD-2.9-1*/
    overflow-x: hidden;
    overflow-y: hidden;
    /*End IMP-step2.5-04 */
    position:　relative;
}



/* widget header h1-h5 */
div.icWrapper .ui-widget .ui-widget-header h1,
div.icWrapper .ui-widget .ui-widget-header h2,
div.icWrapper .ui-widget .ui-widget-header h3,
div.icWrapper .ui-widget .ui-widget-header h4,
div.icWrapper .ui-widget .ui-widget-header h5 {
    color: #fff;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;/* 見出しのフォント */
    margin-left: 0.5em;
}

/* jQueryUIダイアログ 閉じるボタン非表示 */
.ui-dialog .ui-dialog-titlebar-close {
    display: none !important;
}


/*
========================================

    02-1    contMain Element

========================================
*/



/* ========== 1column elements ========== */

/* 1column topPage */
div.col1 .ui-widget div.contMain div.cHead h1.webccTitle {
    color: #222;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;/* 見出しのフォント */
    text-align: center;
    margin: 60px auto 60px auto;
    width: 90%;
    border: 0;
}
div.col1 .ui-widget div.contMain div.cHead {
    margin: 5px 5px 10px;
}

div.col1 .ui-widget div.contMain {
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;
}
div.col1 div.contMain div.cMain {
    margin-top: 60px;
}
div.col1 div.contMain div.cMain form {
    width: 800px;
    margin: 15px auto;
}

/* 1column p only */
div.col1 div.contMain div.cMain p {
    padding: 0 123px;
}


/* 1column topLogIn form and loginBox */
div.col1 .ui-widget div.contMain .loginTable {
    background: #f2f2f2;
    padding: 4px;
    border: 1px solid #666;
    width: 540px;
}
div.col1 .ui-widget div.contMain .loginTable td {
    border: 1px solid #666;
}
div.col1 .ui-widget div.contMain .loginTable td p.itemLabel {
    color: #4d4e4e;
    background: #e6e6e6;
    text-align: center;
    margin: 2px;
    padding: 0;
}
div.col1 .ui-widget div.contMain div.loginBox {
    margin: 30px auto 30px auto;
}

/* 1colmun icInformation */
div.col1 div.contMain div.icInformation {
    margin: 45px auto 15px auto;
    width: 50%;
}
/* logout page */
div.col1 .ui-widget div.contMain h1.logoutedTitle {
    color: #222;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;/* 見出しのフォント */
    font-weight: normal;
    text-align: center;
    margin: 60px auto 60px auto;
    width: 90%;
    border: 0;
}
div.col1 .ui-widget div.contMain p.logouted {
    color: #222;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 60px auto;
    padding: 0;
    width: 90%;
}
/* error page */
div.col1 .ui-widget div.contMain h1.errorTitle {
    color: #222;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;/* 見出しのフォント */
    font-weight: normal;
    text-align: center;
    margin: 60px auto 60px auto;
    width: 90%;
    border: 0;
}
div.col1 .ui-widget div.contMain p.errorMsg {
    color: #222;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;
    font-weight: bold;
    text-align: center;
    margin: 60px auto 15px auto;
    padding: 0;
    width: 90%;
}



/* cHead h1-h5 */
div.contMain div.cHead h1,
div.contMain div.cHead h2,
div.contMain div.cHead h3,
div.contMain div.cHead h4,
div.contMain div.cHead h5 {
    color: #222;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;/* 見出しのフォント */
    border-bottom: 1px solid #666;
    margin: 0;
}
div.contMain div.cHead p.changePass {
    text-align: right;
}

/* cMain h1-h5 */
div.contMain div.cMain h1,
div.contMain div.cMain h2,
div.contMain div.cMain h3,
div.contMain div.cMain h4,
div.contMain div.cMain h5 {
    color: #4d4e4e;
    font-size: 100%;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;/* 見出しのフォント */
    margin: 0.25em 0;
}
div.contMain div.cMain h1.webccTop {
    color: #4d4e4e;
    font-size: 150%;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;/* 見出しのフォント */
    text-align: center;
    margin: 120px auto 150px auto;
}

/* cMain p */
div.contMain div.cMain p {
    margin: 0 1em 0.5em 1em;
}
div.contMain div.cMain p.setCompleted {
    margin-bottom: 60px;
}
div.contMain div.cMain p.searchResultHitCount {
    margin: 0 0 3px 0;
}




/* cMain icInformation */
div.icInformation {
    margin: 15px auto 15px auto;
    width: 75%;
}
div.contMain div.cMain div.icInformation h1,
div.contMain div.cMain div.icInformation h2,
div.contMain div.cMain div.icInformation h3,
div.contMain div.cMain div.icInformation h4,
div.contMain div.cMain div.icInformation h5 {
    margin: 0;
}
div.icInformation ul {
    margin: 0;
}
div.icInformation ul li {
    word-wrap: break-word;
    width: 100%;
}




/* ===== cMain form area ===== */
div.contMain form {
    margin: 10px 0;
}


/* cMain table size and settings */
div.contMain table {
    width: 90%;
    margin: 0 auto 10px auto;
}
div.contMain table th,
div.contMain table td {
    white-space: nowrap;
    vertical-align: top;
/*    border: 1px solid #666;*//* table共通border 未使用 */
}

/* not form in table */
div.noFormTable {
    margin: 10px 0;
}
div.noFormTable table td {
    padding: 3px 5px;
}

/*  */
div.innerTxtArea {
    margin-right: 60px;
    margin-left: 60px;
}
div.contMain div.cMain div.innerTxtArea h2 {
    margin-bottom: 0;
}



/* ========== form用テーブル ========== */

/* styled-table override */
div.contMain .styled-table {
/*    border-top: 1px solid #666;*/
    border: 1px solid #666;
    border-collapse: collapse;
}
div.contMain .styled-table th {
    background: #094b7c;
    background: #fff;
/*    background: #f2f2f2;*/
    border: 1px solid #666;
}

/* styled-table styled-table3 bgcolor */
div.contMain form .styled-table tbody tr td,
div.contMain form .styled-table3 tbody tr td {
    background: #ｆ2ｆ2ｆ2 !important;
    border: 1px solid #666;
}
div.contMain form .styled-table tbody tr.even-row td,
div.contMain form .styled-table3 tbody tr.even-row td {
    background: #e5e5e5 !important;
}
/* テーブル選択行ハイライト */
div.icWrapper div.contMain form .clickable-rows tbody tr:hover,
div.icWrapper div.contMain form .clickable-rows tbody tr.even-row:hover,
div.icWrapper div.contMain form .clickable-rows tbody tr:hover td,
div.icWrapper div.contMain form .clickable-rows tbody tr.even-row:hover td {
    color: #fdd000 !important;
    background: #094b7c !important;
}
div.icWrapper div.contMain form .clickable-rows tbody tr:hover a,
div.icWrapper div.contMain form .clickable-rows tbody tr.even-row:hover a,
div.icWrapper div.contMain form .clickable-rows tbody tr:hover td a,
div.icWrapper div.contMain form .clickable-rows tbody tr.even-row:hover td a {
    color: #fff !important;
}

/* styled-table2 */
div.contMain table.styled-table2 {
/*    border: 1px solid #f00;*/
}
div.contMain table.styled-table2 th,
div.contMain table.styled-table2 td {
/*    border: 1px solid #900;*/
}

/* table width */
div.contMain .tableTypeS { width: 50%; }
div.contMain .tableTypeR { width: 65%; }
div.contMain .tableTypeM { width: 75%; }
div.contMain .tableTypeL { width: 90%; }





/* form in table element */

/* no float */
div.contMain form table th input,
div.contMain form table th label,
div.contMain form table td input,
div.contMain form table td label,
div.contMain form table td span,
div.contMain form div.btnArea input {
    float: none;
    clear: both;
}
/* fixed input and label button position */
div.contMain form table th input,
div.contMain form table th label,
div.contMain form table td input,
div.contMain form table td label {
    vertical-align: middle;
}


/* form element focus */
div.contMain form .focus {
/*    color: #407398;*/
/*    background: #ffffe1;*/
/*    outline: 1px solid #779BB1;*/
}

/* disabled input form bgcolor */
div.contMain form button[disabled],
div.contMain form input[disabled] {
    color: #e6e6e6;
    background: #d4d0c8;
}





/* scrolltables setting default w540 */
div.contMain div.scrollTable,
div.contMain div.scrollTableM {
    width: 540px;/* 中身を縦スクロールさせるテーブル標準幅 */
    margin: 15px auto;
}

div.contMain div.scrollTable table.scrollTableHead,
div.contMain div.scrollTableM table.scrollTableHead {
    width: 540px;
    margin-bottom: 0;
}
div.contMain div.scrollTable table.scrollTableFoot,
div.contMain div.scrollTableM table.scrollTableFoot {
    width: 540px;
    margin-top: -1px;
}

/* scroll area */
div.contMain div.scrollTable div.scrollTableIn,
div.contMain div.scrollTableM div.scrollTableIn {
/*    background: #4d4e4e;*/
    width: 556px;/* 540+16 */
    height: 132px;
/*    min-height: 48px;
    max-height: 132px;*//* 24n n=5.5 5.5行分程度 */
    overflow-x: hidden; /* 横スクロール非表示 */
    overflow-y: scroll;/* 縦スクロール */
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    border-top: 0;
    position:　relative;
}
div.contMain div.scrollTable div.scrollTableIn table,
div.contMain div.scrollTableM div.scrollTableIn table {
    width: 540px;
    margin: 0;
}

/* nonscrolltables setting default w780 */
div.contMain div.nonscrollTableL {
    width: 780px;
    margin: 15px auto;
}

div.contMain div.nonscrollTableL table.nonscrollTableHead {
    width: 780px;
    margin-bottom: 0;
}
div.contMain div.nonscrollTableL table.nonscrollTableFoot {
    width: 780px;
    margin-top: -1px;
}

div.contMain div.nonscrollTableL div.nonscrollTableIn {
/*  background: #4d4e4e;*/
    width: 780px;/* 540+16 */
    overflow-x: hidden; /* 横スクロール非表示 */
    overflow-y: hidden;/* 縦スクロール非表示 */
    border-left: 1px solid #666;
    border-top: 0;
    position:　relative;
}
div.contMain div.nonscrollTableL div.nonscrollTableIn table {
    width: 779px;
    margin: 0;
}


/* nonscrolltables setting default w540 */
div.contMain div.nonscrollTableM {
    width: 540px;
    margin: 15px auto;
}

div.contMain div.nonscrollTableM table.nonscrollTableHead {
    width: 540px;
    margin-bottom: 0;
}
div.contMain div.nonscrollTableM table.nonscrollTableFoot {
    width: 540px;
    margin-top: -1px;
}

div.contMain div.nonscrollTableM div.nonscrollTableIn {
/*    background: #4d4e4e;*/
    width: 540px;/* 540+16 */
    overflow-x: hidden; /* 横スクロール非表示 */
    overflow-y: hidden;/* 縦スクロール非表示 */
    border-left: 1px solid #666;
    border-top: 0;
    position:　relative;
}
div.contMain div.nonscrollTableM div.nonscrollTableIn table {
    width: 539px;
    margin: 0;
}



/* scrolltables small w480 */
div.contMain div.scrollTablexS {
    width: 320px;
    margin: 15px auto;
}
div.contMain div.scrollTablexS table.scrollTableHead {
    width: 320px;
    margin-bottom: 0;
}
div.contMain div.scrollTablexS table.scrollTableFoot {
    width: 320px;
    margin-top: -1px;
}
div.contMain div.scrollTablexS div.scrollTableIn {
/*    background: #4d4e4e;*/
    width: 336px;
    height: 132px;
/*    min-height: 48px;
    max-height: 132px;*//* 24n n=5.5 5.5行分程度 */
    overflow-x: hidden; /* 横スクロール非表示 */
    overflow-y: scroll; /* 縦スクロール */
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    border-top: 0;
    position:　relative;
}
div.contMain div.scrollTablexS div.scrollTableIn table {
    width: 320px;
    margin: 0;
}





/* nonscrolltables small w480 */
div.contMain div.nonscrollTableS {
    width: 480px;
    margin: 15px auto;
}
div.contMain div.nonscrollTableS table.nonscrollTableHead {
    width: 480px;
    margin-bottom: 0;
}
div.contMain div.nonscrollTableS table.nonscrollTableFoot {
    width: 480px;
    margin-top: -1px;
}
div.contMain div.nonscrollTableS div.nonscrollTableIn {
/*    background: #4d4e4e;*/
    width: 480px;
/*    min-height: 48px;
    max-height: 132px;*//* 24n n=5.5 5.5行分程度 */
    overflow-x: hidden; /* 横スクロール非表示 */
    overflow-y: hidden; /* 縦スクロール */
    border-left: 1px solid #666;
    border-top: 0;
    position:　relative;
}
div.contMain div.nonscrollTableS div.nonscrollTableIn table {
    width: 479px;
    margin: 0;
}


/* scrolltables Large w780px - only023 */
div.contMain div.scrollTableL {
    width: 780px;
    margin: 15px auto;
}
div.contMain div.scrollTableL table.scrollTableHead {
    width: 780px;
    margin-bottom: 0;
}
div.contMain div.scrollTableL table.scrollTableFoot {
    width: 780px;
    margin-top: -1px;
}
div.contMain div.scrollTableL div.scrollTableIn {
/*    background: #4d4e4e;*/
    width: 796px;
    height: 132px;
/*    min-height: 48px;
    max-height: 132px;*//* 24n n=5.5 5.5行分程度 */
    overflow-x: hidden; /* 横スクロール非表示 */
    overflow-y: scroll; /* 縦スクロール */
    border-right: 1px solid #666;
    border-bottom: 1px solid #666;
    border-left: 1px solid #666;
    border-top: 0;
    position:　relative;
}
div.contMain div.scrollTableL div.scrollTableIn table {
    width: 780px;
    margin: 0;
}


/* non-scrolltables Large w780px */
div.contMain div.scrollTableL table.nonscrollTableHead {
    width: 796px;
    margin-bottom: 0;
}
div.contMain table.nonscrollTableHead,
div.contMain table.nonscrollTableHead th,
div.contMain table.nonscrollTableHead tr,
div.contMain table.nonscrollTableHead td {
    white-space: normal;
    word-break: break-all;
/*    table-layout: fixed;*/
}

div.contMain table td.breakWord, div.contMain table th.breakWord {
    white-space: normal;
    word-break: normal !important;
}

div.contMain table td.wordWrap25em,div.contMain table th.wordWrap25em {
	white-space: normal;
	/* start ST 1.7 #1535 */
	word-break: break-all !important;
	/* end ST 1.7 #1535 */
	display: block;
	word-wrap: break-word;
	width: 25em;}

div.contMain div.scrollTableL div.nonscrollTableIn {
/*    background: #4d4e4e;*/
    width: 796px;
/*    min-height: 48px;
    max-height: 132px;*//* 24n n=5.5 5.5行分程度 */
    overflow-x: hidden; /* 横スクロール非表示 */
    border-left: 1px solid #666;
    border-top: 0;
    position:　relative;
}
div.contMain div.scrollTableL div.nonscrollTableIn table {
    width: 795px;
    margin: 0;
}
div.contMain div.nonscrollTableIn .styled-table3,
div.contMain div.nonscrollTableIn .styled-table3 th,
div.contMain div.nonscrollTableIn .styled-table3 tr,
div.contMain div.nonscrollTableIn .styled-table3 td {
    border-top: 0;
    border-bottom: 0;
    white-space: normal;
    word-break: break-all;
    /* Step2.6 START #2111 */
    word-wrap: break-word;
    /* Step2.6 END #2111 */
}

/* Step2.6 START #2111 */
div.contMain .layout-fixed {
    table-layout: fixed;
}
/* Step2.6 END #2111 */

/* styled-table3 */
div.contMain .styled-table3,
div.contMain .styled-table3 th,
div.contMain .styled-table3 tr,
div.contMain .styled-table3 td {
    color: #222;
/*    background: #ｆ2ｆ2ｆ2;*/
    border: 1px solid #666;
    text-align: center;
}

div.contMain form table.styled-table3 tr.tHead td {
    color: #094B7C;
    background: #fff !important;
    text-align: center;
}
/*  */
div.contMain form table.clickable-rows,
div.contMain form table.clickable-rows tr,
div.contMain form table.clickable-rows tr td {
    border-left: 0;
}
/*
div.contMain form table.clickable-rows {
    border-bottom: 1px solid #666 !important;
}
*/
div.contMain .borderBottomAdd {
    border-bottom: 1px solid #666 !important;
}

div.contMain form table td.temp {

}

div.contMain div.scrollTableIn .styled-table3,
div.contMain div.scrollTableIn .styled-table3 th,
div.contMain div.scrollTableIn .styled-table3 tr,
div.contMain div.scrollTableIn .styled-table3 td {
    border-top: 0;
    border-bottom: 0;
}


/* テーブル内セル内　要素折り返し設定 */
/*
div.contMain .styled-table2,
div.contMain .styled-table2 th,
div.contMain .styled-table2 tr,
div.contMain .styled-table2 td,
*/
div.contMain table.scrollTableHead,
div.contMain table.scrollTableHead th,
div.contMain table.scrollTableHead tr,
div.contMain table.scrollTableHead td,
div.contMain div.scrollTableIn .styled-table3,
div.contMain div.scrollTableIn .styled-table3 th,
div.contMain div.scrollTableIn .styled-table3 tr,
div.contMain div.scrollTableIn .styled-table3 td {
    white-space: normal;
    word-break: break-all;
/*    table-layout: fixed;*/
}

div.contMain table th.longWord,
div.contMain table tr.longWord,
div.contMain table td.longWord {
    white-space: normal;
    word-break: break-all;
}



/* selectitem 横並び */
div.contMain form table td.row div {
    display: inline;
    padding-right: 15px;
}
/* checkbox with text margin */
div.contMain table td div input[type="checkbox"] {
    margin-right: 5px;
}
/* selectitem 横並び+入力フォーム */
div.contMain table td.radioandTextGroup {

}
div.contMain table td.radioandTextGroup div.oneRandT {
    margin-bottom: 4px;
}
div.oneRandT .radioGroup {
    width: 120px;
    float: left;
    display: inline;
}
div.oneRandT .textGroup {
    width: 150px;
    float: right;
/*    float: left;*/
    display: inline;
}



/* btnArea - submit buttons */
div.contMain form div.btnArea {
    width: 75%;
    margin: 10px auto 0 auto;
    text-align: center;
}
div.contMain form div.btnArea input {

}
/* btnArea submit btn Size */
div.contMain form div.btnArea input[type="submit"],
div.contMain form div.btnArea input[type="reset"] {
    width: 120px;
}



/* jquery-ui-dialog css override */

div.ui-dialog-content:before {
    left: 0;
}
div.ui-dialog .ui-dialog-buttonpane {
    margin-top: 0;
}
div.ui-dialog .ui-dialog-buttonset button {
    white-space: nowrap;
}



/*
========================================

    03-1    2column contMain block

========================================
*/

div.col2 .ui-widget div.contMain {
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;/* メインコンテンツのフォント */
}

div.col2 .ui-widget div.contMain div.cHead {
    margin: 5px 5px 10px 5px;
}

div.col2 .ui-widget div.contMain div.cMain {
    /*Start Step1.x #766*/
    margin: 0 15px 10px 15px;
    /*End Step1.x #766*/
    /* Start IMP-step2.5-04 */
    margin-bottom: 30px !important;
    /* End IMP-step2.5-04  */
}

/*
========================================

    03-2    2column contSub

========================================
*/

div.col2 div.contSub .contMenu {
    margin: 30px 20px 15px 20px;
    font-family: "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic" , Arial, sans-serif;/* 左メニューのフォント */
}

div.col2 div.contSub .contMenu ul,
div.col2 div.contSub .contMenu ol {
    margin: 0;
    padding: 0;
    list-style: none outside;
}
div.col2 div.contSub .contMenu ul {

}
div.col2 div.contSub .contMenu ul li {
    margin: 0 0 1em 0;
}
div.col2 div.contSub .contMenu ul ul {

}
div.col2 div.contSub .contMenu ul ul li {
    margin: 0 0 0 1em;
    padding: 0 0 0 12px;
    background: transparent url("../images/icon_cmenu_li_arrow01.gif") left center no-repeat;
}

/* logout button override （未使用）　*/
/*
div.icWrapper div.contSub .contMenu li.ui-button {
    width: 120px;
    margin-bottom: 2em;
}
div.icWrapper div.contSub .contMenu li.ui-button span.ui-button-text a,
div.icWrapper div.contSub .contMenu li.ui-button span.ui-button-text a:link,
div.icWrapper div.contSub .contMenu li.ui-button span.ui-button-text a:visited,
div.icWrapper div.contSub .contMenu li.ui-button span.ui-button-text a:hover {
    color: #fff;
    text-decoration: none;
}
div.icWrapper div.contSub .contMenu li.ui-button span.ui-button-text a:active {
    color: #006196;
}
*/



/* ================ jquery-ui-buttons - override styles - for IE9 ★ ================ */

/* ==== override jquery-ui-buttons .ui-button.ui-corner-all radius ==== */
/*
.jquery-ui-buttons .ui-button.ui-corner-all {
  border-radius: 12px;
}
*/



/* ==== jquery-ui-buttons - .ui-button.ui-corner-all radius0 only IE9 ★ ==== */

/* IE9のみボタンの角を0に */

/*
.jquery-ui-buttons .ui-button.ui-corner-all:not(:target) {
  border-radius: 0\9;
}
*/
.ui-button.ui-corner-all:not(:target) {
    border-radius: 0\9;
}



/* ==== disabled　jquery-ui-buttons - button style filter off only IE9 (css hacked IE9) ★ ==== */
/*
.jquery-ui-buttons .ui-button.ui-state-default:not(:target){
    filter: none\9;
}
.jquery-ui-buttons .ui-button.ui-state-hover:not(:target){
    filter: none\9;
}
.jquery-ui-buttons .ui-button.ui-state-focus:not(:target){
    filter: none\9;
}
*/

/* override jquery-ui-buttons - use svg */
/*
.jquery-ui-buttons .ui-button.ui-state-default {
    color: #fff;
    background-color: #0071a7;
    background-image: url(../images/jquery-ui-button-bg.svg);
}
*/
/* CSS */
/*
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjMjA3YmFhIi8+PHN0b3Agb2Zmc2V0PSIwLjI0NSIgc3RvcC1jb2xvcj0iIzJkNzVhNSIvPjxzdG9wIG9mZnNldD0iMC41IiBzdG9wLWNvbG9yPSIjMGI2Mjk4Ii8+PHN0b3Agb2Zmc2V0PSIwLjUxIiBzdG9wLWNvbG9yPSIjMDUzZjY2Ii8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjMDE0ZDg5Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #207baa), color-stop(24.5%, #2d75a5), color-stop(50%, #0b6298), color-stop(51%, #053f66), color-stop(100%, #014d89));
background-image: -webkit-linear-gradient(top, #207baa 0%, #2d75a5 24.5%, #0b6298 50%, #053f66 51%, #014d89 100%);
background-image: -moz-linear-gradient(top, #207baa 0%, #2d75a5 24.5%, #0b6298 50%, #053f66 51%, #014d89 100%);
background-image: -ms-linear-gradient(top, #207baa 0%, #2d75a5 24.5%, #0b6298 50%, #053f66 51%, #014d89 100%);
background-image: -o-linear-gradient(top, #207baa 0%, #2d75a5 24.5%, #0b6298 50%, #053f66 51%, #014d89 100%);
background-image: linear-gradient(to bottom, #207baa 0%, #2d75a5 24.5%, #0b6298 50%, #053f66 51%, #014d89 100%);
*/
/* SVG */
/*
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
    <linearGradient id="g1" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0" stop-color="#207baa"/>
        <stop offset="0.245" stop-color="#2d75a5"/>
        <stop offset="0.5" stop-color="#0b6298"/>
        <stop offset="0.51" stop-color="#053f66"/>
        <stop offset="1" stop-color="#014d89"/>
    </linearGradient>
    <rect x="0" y="0" width="100%" height="100%" fill="url(#g1)" />
</svg>
*/
/* Canvas */
/*
var g = ctx.createLinearGradient(0, 0, 0, 116);
g.addColorStop(0, #207baa);
g.addColorStop(0.245, #2d75a5);
g.addColorStop(0.5, #0b6298);
g.addColorStop(0.51, #053f66);
g.addColorStop(1, #014d89);
ctx.fillStyle = g;
ctx.fillRect(0, 0, 227, 116);
*/


/*
.jquery-ui-buttons .ui-button.ui-state-hover,
.jquery-ui-buttons .ui-button.ui-state-focus {

    color: #fff;
    background-color: #094b7c;
    background-image: url(../images/jquery-ui-button-bg-hover.svg);

    outline: none;
}
*/

/* CSS */
/*
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjNzc5YmIxIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjNDA3Mzk4Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #779bb1), color-stop(100%, #407398));
background-image: -webkit-linear-gradient(top, #779bb1 0%, #407398 100%);
background-image: -moz-linear-gradient(top, #779bb1 0%, #407398 100%);
background-image: -ms-linear-gradient(top, #779bb1 0%, #407398 100%);
background-image: -o-linear-gradient(top, #779bb1 0%, #407398 100%);
background-image: linear-gradient(to bottom, #779bb1 0%, #407398 100%);
*/
/* SVG */
/*
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
    <linearGradient id="g1" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0" stop-color="#779bb1"/>
        <stop offset="1" stop-color="#407398"/>
    </linearGradient>
    <rect x="0" y="0" width="100%" height="100%" fill="url(#g1)" />
</svg>
*/
/* Canvas */
/*
var g = ctx.createLinearGradient(0, 0, 0, 116);
g.addColorStop(0, #779bb1);
g.addColorStop(1, #407398);
ctx.fillStyle = g;
ctx.fillRect(0, 0, 227, 116);
*/


/*
.jquery-ui-buttons .ui-button.ui-state-active {

    color: #094b7c;
    background: #ccd9e2;
    background-image: url(../images/jquery-ui-button-bg-active.svg);

    outline: none;
}
*/

/* CSS */
/*
background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiPjxsaW5lYXJHcmFkaWVudCBpZD0iZzEiIGdyYWRpZW50VW5pdHM9InVzZXJTcGFjZU9uVXNlIiB4MT0iMCUiIHkxPSIwJSIgeDI9IjAlIiB5Mj0iMTAwJSI+PHN0b3Agb2Zmc2V0PSIwIiBzdG9wLWNvbG9yPSIjZmZmZmZmIi8+PHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjY2NkOWUyIi8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMTAwJSIgaGVpZ2h0PSIxMDAlIiBmaWxsPSJ1cmwoI2cxKSIgLz48L3N2Zz4=);
background-image: -webkit-gradient(linear, center top, center bottom, color-stop(0%, #ffffff), color-stop(100%, #ccd9e2));
background-image: -webkit-linear-gradient(top, #ffffff 0%, #ccd9e2 100%);
background-image: -moz-linear-gradient(top, #ffffff 0%, #ccd9e2 100%);
background-image: -ms-linear-gradient(top, #ffffff 0%, #ccd9e2 100%);
background-image: -o-linear-gradient(top, #ffffff 0%, #ccd9e2 100%);
background-image: linear-gradient(to bottom, #ffffff 0%, #ccd9e2 100%);
*/
/* SVG */
/*
<svg xmlns="http://www.w3.org/2000/svg" width="100%" height="100%">
    <linearGradient id="g1" gradientUnits="userSpaceOnUse" x1="0%" y1="0%" x2="0%" y2="100%">
        <stop offset="0" stop-color="#ffffff"/>
        <stop offset="1" stop-color="#ccd9e2"/>
    </linearGradient>
    <rect x="0" y="0" width="100%" height="100%" fill="url(#g1)" />
</svg>
*/
/* Canvas */
/*
var g = ctx.createLinearGradient(0, 0, 0, 116);
g.addColorStop(0, #ffffff);
g.addColorStop(1, #ccd9e2);
ctx.fillStyle = g;
ctx.fillRect(0, 0, 227, 116);
*/





/*
========================================

    04 other

========================================
*/

/* elements width settings */
div.icWrapper div.contMain .w15 { width: 15px; }
div.icWrapper div.contMain .w20 { width: 20px; }
div.icWrapper div.contMain .w30 { width: 30px; }
div.icWrapper div.contMain .w40 { width: 40px; }
div.icWrapper div.contMain .w45 { width: 45px; }
div.icWrapper div.contMain .w60 { width: 60px; }
div.icWrapper div.contMain .w65 { width: 65px; }
div.icWrapper div.contMain .w75 { width: 75px; }
div.icWrapper div.contMain .w90 { width: 90px; }
div.icWrapper div.contMain .w105 { width: 105px; }
div.icWrapper div.contMain .w110 { width: 110px; }
div.icWrapper div.contMain .w120 { width: 120px; }
div.icWrapper div.contMain .w130 { width: 130px; }
div.icWrapper div.contMain .w140 { width: 140px; }
div.icWrapper div.contMain .w150 { width: 150px; }
div.icWrapper div.contMain .w180 { width: 180px; }
div.icWrapper div.contMain .w210 { width: 210px; }
div.icWrapper div.contMain .w250 { width: 250px; }
div.icWrapper div.contMain .w320 { width: 320px; }
div.icWrapper div.contMain .w340 { width: 340px; }
div.icWrapper div.contMain .w480 { width: 480px; }
/* Step2.6 START #2016 */
div.icWrapper div.contMain .w80 { width: 80px; }
div.icWrapper div.contMain .w85 { width: 85px; }
div.icWrapper div.contMain .w95 { width: 95px; }
div.icWrapper div.contMain .w170 { width: 170px; }
/* Step2.6 END #2016 */
/* Step2.8 START #2262 */
div.icWrapper div.contMain .wAuto { width: auto; }
/* Step2.8 END #2262 */

div.icWrapper div.contMain .wxSmall { width: 30px; }
div.icWrapper div.contMain .wSmall { width: 60px; }
div.icWrapper div.contMain .wMiddle { width: 120px; }
div.icWrapper div.contMain .wSlarge { width: 150px; }
div.icWrapper div.contMain .wLarge { width: 180px; }
div.icWrapper div.contMain .wxLarge { width: 210px; }

div.icWrapper div.contMain .wMax { width: 95.0%; }

/* valign settings */
div.icWrapper div.contMain .valTop { vertical-align: top; }
div.icWrapper div.contMain .valMid { vertical-align: middle; }
div.icWrapper div.contMain .valBot { vertical-align: bottom; }

/* text-align settings */
div.icWrapper div.contMain .alL { text-align: left; }
div.icWrapper div.contMain .alC { text-align: center; }
div.icWrapper div.contMain .alR { text-align: right; }

/* noEditTxtField settings */
div.icWrapper div.contMain .noEditTxtField {
    color: #222 !important;
    background: #f2f2f2;
/*    padding: 1px;
    border: 2px solid #f00;*/
    display: block;
    margin: 6px 0 0 0;
    padding: 0;
    width: 320px;
    float: left;
}
div.icWrapper div.contMain td.row .changeBtn {
    float: right;
}


/* hide-dialog */
.hide-dialog,
.logoutDialog,
.deleteDialog,
.deleteDialog2,
.checkedDialog {
    display: none;
}

/* etc settings */

/* require invalidMsg warningMsg */
div.icWrapper div.contMain .require { color: #f00; font-size: x-small; font-weight: bold; }
div.icWrapper div.contMain .invalidMsg { color: #f00; text-align: left; margin-left: 0; padding-left: 0; cursor: text}
div.icWrapper div.contMain .completeMsg { color: #000; text-align: left; margin-left: 0; padding-left: 0; cursor: text}
div.icWrapper div.contMain .warningMsg { color: #f00; text-align: center; margin-left: 0; margin-right: 0; padding-left: 0; padding-right: 0; }

div.icWrapper div.contMain .inputAlertText {
    color: #666;
/*    font-size: x-small;*/
    white-space: normal;
}

div.icWrapper .bd0 { border: 0 !important; }
div.icWrapper .bdt0 { border-top: 0 !important; }
div.icWrapper .bdr0 { border-right: 0 !important; }
div.icWrapper .bdb0 { border-bottom: 0 !important; }
div.icWrapper .bdl0 { border-left: 0 !important; }

div.of-h { overflow: hidden; }
div.ofx-h { overflow-x: hidden; }
div.ofy-h { overflow-y: hidden; }

/* margin-top margin-bottom */
.mt5 { margin-top: 5px !important; }
.mt10 { margin-top: 10px !important; }
.mt15 { margin-top: 15px !important; }
.mt20 { margin-top: 20px !important; }
.mt30 { margin-top: 30px !important; }
.mt45 { margin-top: 45px !important; }
.mt60 { margin-top: 60px !important; }
.mt90 { margin-top: 90px !important; }
.mt120 { margin-top: 120px !important; }
.mt150 { margin-top: 150px !important; }
.mt180 { margin-top: 180px !important; }

.mb5 { margin-bottom: 5px !important; }
.mb10 { margin-bottom: 10px !important; }
.mb15 { margin-bottom: 15px !important; }
.mb20 { margin-bottom: 20px !important; }
.mb30 { margin-bottom: 30px !important; }
.mb45 { margin-bottom: 45px !important; }
.mb60 { margin-bottom: 60px !important; }
.mb90 { margin-bottom: 90px !important; }
.mb120 { margin-bottom: 120px !important; }
.mb150 { margin-bottom: 150px !important; }
.mb180 { margin-bottom: 180px !important; }

.ml5 { margin-left: 5px !important; }
.ml10 { margin-left: 10px !important; }
.ml15 { margin-left: 15px !important; }
.ml20 { margin-left: 20px !important; }
.ml30 { margin-left: 30px !important; }
.ml45 { margin-left: 45px !important; }
.ml60 { margin-left: 60px !important; }
.ml90 { margin-left: 90px !important; }
.ml100 { margin-left: 100px !important; }
.ml110 { margin-left: 110px !important; }
.ml120 { margin-left: 120px !important; }
.ml150 { margin-left: 150px !important; }
.ml180 { margin-left: 180px !important; }
.ml350 { margin-left: 350px !important; }
.ml470 { margin-left: 470px !important; }
.ml490 { margin-left: 490px !important; }
/*
================================================================================
    end
================================================================================
*/
/*(C) NTT Communications  2015  All Rights Reserved*/